.listContainer {

    min-height: 60vh;

    .listTitle {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        button{
            font-size: 0.8rem;
            background-color: white;
            padding: 0 0.1rem;
            margin-bottom: 0.5rem;
        }

    }

    .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;

        input[type="checkbox"] { // input sys styling
            text-align: center;
            width: 1.0rem;
            min-width: 40px;
            min-height: 40px;
            height: 1.0rem;
            cursor: pointer;
            margin-right: 1.5rem;
        }

        input[type="checkbox"]:focus + label {
            
        }
        label {
            font-size: 0.8rem;
        }
    }
}